body {
  /* poniendo la fuente insertada  */
  font-family: "Poppins";
  /* para elimar el borde blanco */
  margin: 0;
  padding: 0;
}

p {
  /*Para agrandar el parrafo*/
  font-size: 20px;
}

li {
  /*Para eliminar los puntos de la lista*/
  list-style: none;
  /* margen hacia la derecha */
  margin-right: 10px;
  padding: 4px;
  background: #40a8fa;
  color: white;
}

#primero {
  font-size: 30px;
}

.menu {
  /* display - flex como poner en una linea horizontal en la parte del navegador*/
  display: flex;
  /* justificame el contenido */
  justify-content: space-between;
  /* alineamos en la misma altura */
  align-items: center;
}

.lista {
  /* ponemos una clase en los ul */
  display: flex;
}

.titular {
  /* Alinear el texto en el centro */
  text-align: center;
  /*Bajar el elemento */
  margin-top: 200px;
}

h1 {
  /* Aumentar la letra */
  font-size: 60px;
  /* Elimar el margen a 0 */
  margin: 0;
  color: #5055df;
}

h2 {
  font-size: 25px;
  margin-bottom: 40px;
}

#sa {
  padding: 4px;
  background: #40a8fa;
  color: white;
}

a {
  /* Eliminar la linea de abajo */
  text-decoration: none;
  font-size: 14px;
  background: red;
  /* para el botton el padding */
  padding: 20px 30px 20px 30px;
  color: white;
}

header {
  background: url(../img/fondo.jpg);
  /* viewport height el fondo va al 100% */
  height: 150vh;
  /* Se adapte ala ventana */
  background-size: cover;
}

.contenedor {
  /* Medida estandar */
  max-width: 1280px;
  /*Medida por defecto*/
  width: 90%;
  /* Para lo que los elementos esten centrados */
  margin: auto;
}

/* ARRANCA SECCION SOBRE MI */

h3 {
  /* centro texto */
  text-align: center;
  font-size: 55px;
  /* tipo fuente */
  font-weight: normal;
}

.contenedor-sobremi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedor-parrafo-y-boton {
  width: 42%;
}

.contenedor-parrafo-y-boton p {
  font-size: 18px;
}

.parrafo-final {
  margin-bottom: 30px;
}

.contenedor-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.servicio {
  width: 25%;
  padding: 50px 38px 50px 38px;
  border-radius: 10px;
  margin-bottom: 40px;
  color: #fff;
}

.violeta {
  background: #5055df;
}

.celeste {
  background: #40a8fa;
}

.servicio h4 {
  font-size: 30px;
  margin: 0;
}

.servicio img {
  float: right;
}

.servicio p {
  font-size: 18px;
}
